@media (min-width: 768px) {
    .App {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .logo {
        position: absolute;
        top: 5%;
    }
    .main--section {
        width: 90%;
        max-width: 920px;
        flex-direction: row;
        gap: 2rem;
        border-radius: 15px;
    }

    .input--side {
        width: 100%;
    }

    .tip--container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .display--side {
        width: 100%;
        height: 100%;
    }

    .display--container {
        height: 100%;
        flex-grow: 1;
        padding: 3rem;
        justify-content: space-between;

        .display-section {
            .display {
            
                span {
                font-size: 2.5rem;
            }
        }
        }

        
        
        .display-btn {
            justify-self: flex-end;
        }
    }
}